{% load static %}
{% load thumbnail %}

<div class="widget-wrap fl-wrap">
    <h4 class="widget-title"><span>01.</span> Об авторе</h4>
    <div class="widget-container fl-wrap">
        <div class="about-widget fl-wrap">
            <img src="{% static 'images/avatar/banner-blog.png'%}" alt="">
            <h5><a href="#">Учитель Английского</a></h5>
            <div class="clearfix"></div>
            <p>Обучение английскому языку</p>
            <div class="about-widget-social fl-wrap">
                <span>Социальные сети : </span>
                <ul >
                    <li><a href="" target="_blank">VK</a></li>
                    <li><a href="" target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>