{% extends 'layouts/base.html' %}
{% load blog_tags %}
{% load static %}
{% load thumbnail %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Блог анлийскому и немецкому языку{% endif %}
{% endblock %}
{% block META_description %}
    {% spaceless %}
  {% if category %}{{ category.description }}{% else %}Блог анлийскому и немецкому языку{% endif %}
    {% endspaceless %}
{% endblock %}

{% block content %}
<!--wrapper-->
            <div id="wrapper" class="single-page-wrap">
                <!-- Content-->
                <div class="content">
                    <!-- section-->
                    <section class="parallax-section dark-bg sec-half parallax-sec-half-right" data-scrollax-parent="true">
                        <div class="bg par-elem"  data-bg="{% static 'images/bg/blog-img.jpg'%}" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="pattern-bg"></div>
                        <div class="container">
                            <div class="section-title">
                                <h2>Блог по  <br /><span>Английскому языку </span></h2>
                                <p>Полезные материалы</p>
                                <div class="horizonral-subtitle"><span>English</span></div>
                            </div>
                        <a href="#sec1" class="custom-scroll-link hero-start-link"><span>Начало</span> <i class="fal fa-long-arrow-down"></i></a>
                        </div>
                    </section>
                    <!-- section end-->
                    <div class="single-page-decor"></div>
                    <!-- single-page-fixed-row-->
                    <div class="single-page-fixed-row blog-single-page-fixed-row">
                        <div class="scroll-down-wrap">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                            <span>Прокручивай вниз</span>
                        </div>
                        <!-- filter  -->
                        <div class="blog-filters">
                            <span>Фильтр по: </span>
                            <!-- filter tag   -->

                            <!-- filter tag end  -->
                            <!-- filter category    -->
                            <div class="category-filter blog-btn-filter">
                                <div class="blog-btn">Категории <i class="fa fa-list-ul" aria-hidden="true"></i></div>
                                <ul>
                                    {% for cat_filtr in categories %}
                                    <li><a href="{{ cat_filtr.get_absolute_url }}">{{ cat_filtr.name }}</a></li>
                                    {% endfor %}


                                </ul>
                            </div>
                            <!-- filter category end  -->
                            <div class="blog-search">
                                <form action="#" class="searh-inner fl-wrap">
                                    <input name="se" id="se" type="text" class="search" placeholder="Search.." value="Search..." />
                                    <button class="search-submit color-bg" id="submit_btn"><i class="fa fa-search"></i> </button>
                                </form>
                            </div>
                        </div>
                        <!-- filter end    -->
                    </div>
                    <!-- single-page-fixed-row end-->
                    <!-- section -->
                    <section data-scrollax-parent="true" id="sec1">
                        <div class="section-subtitle left-pos"  data-scrollax="properties: { translateY: '-250px' }" ><span>//</span>Journal</div>
                        <div class="container">
                            <!-- blog-container  -->
                            <div class="fl-wrap post-container">
                                <div class="row">
                                    <div class="col-md-8">
                                    {% for article in posts %}
                                        <!-- post -->
                                        <div class="post fl-wrap fw-post">
                                            <h2><a href="{{ article.get_absolute_url }}"><span>{{ article.name_post }}</span></a></h2>

                                            <div class="parallax-header"> <span>{{ article.date_pub|date:"d b. Y" }}</span><span>Категория : </span><a href="{{ article.categories.get_absolute_url }}">{{ article.categories }}</a> </div>
                                            <!-- blog media -->
                                            <div class="blog-media fl-wrap nomar-bottom">
                                                <div class="single-slider-wrap slider-carousel-wrap ">
                                                    <div class="single-slider cur_carousel-slider-container fl-wrap"  >
                                                        <div class="slick-slide-item"><img src="{% if article.img_post %}{{ article.img_post.url }}{% else %}{% static 'images/folio/1.jpg' %}{% endif %}" width="800" alt=""></div>

                                                    </div>
                                                    <div class="sp-cont   sp-cont-prev"><i class="fal fa-long-arrow-left"></i></div>
                                                    <div class="sp-cont   sp-cont-next"><i class="fal fa-long-arrow-right"></i></div>
                                                </div>
                                            </div>
                                            <!-- blog media end -->

                                            <div class="blog-text fl-wrap">
                                                <div class="clearfix"></div>
                                                <h3><a href="" ></a></h3>
                                                <p>
                                                    {{ article.post_body|safe|truncatewords:30 }}
                                                </p>
                                                <a href="{{ article.get_absolute_url }}" class="btn float-btn color-btn flat-btn">Подробнее </a>
                                                <ul class="post-counter">
                                                    <li><i class="fa fa-eye"></i><span>687</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- post end-->
                                    {% endfor %}

                                    </div>
                                    <!-- blog-sidebar  -->
                                    <div class="col-md-4">
                                        <div class="blog-sidebar fl-wrap fixed-bar">
                                            <!-- widget-wrap -->

                                            <!-- widget-wrap end  -->
                                            <!-- widget-wrap -->
                                            {% widget_blog_posts %}
                                            <!-- widget-wrap end  -->

                                            <!-- widget-wrap -->
                                            {% widget_blog_category %}
                                            <!-- widget-wrap end  -->
                                        </div>
                                    </div>
                                    <!-- blog-sidebar end -->
                                    <div class="limit-box fl-wrap"></div>
                                </div>
                                <!-- content-nav -->
                                <div class="content-nav">
                                    <ul>

                                        {% if page.has_previous %}
                                        <li><a href="?page={{ page.previous_page_number }}" class="ln"><i class="fal fa-arrow-left"></i><span class="tooltip">Предыдущая</span></a></li>
                                        {% endif %}
                                        <li><span class="cur-page"><span>Страница {{ page.number }} of {{ page.paginator.num_pages }} </span></span></li>
                                        {% if page.has_next %}
                                        <li><a href="?page={{ page.next_page_number }}" class="rn"><i class="fal fa-arrow-right"></i><span class="tooltip">Следующая</span></a></li>
                                        {% endif %}

                                    </ul>
                                </div>
                                <!-- content-nav end-->
                            </div>
                            <!-- blog-container end    -->
                        </div>
                        <div class="bg-parallax-module" data-position-top="50"  data-position-left="20" data-scrollax="properties: { translateY: '-250px' }"></div>
                        <div class="bg-parallax-module" data-position-top="40"  data-position-left="70" data-scrollax="properties: { translateY: '150px' }"></div>
                        <div class="bg-parallax-module" data-position-top="80"  data-position-left="80" data-scrollax="properties: { translateY: '350px' }"></div>
                        <div class="bg-parallax-module" data-position-top="95"  data-position-left="40" data-scrollax="properties: { translateY: '-550px' }"></div>
                        <div class="sec-lines"></div>
                    </section>
                    <!-- section end-->
                    <!-- section-->
                    <section class="dark-bg2 small-padding order-wrap">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3>Связаться со мной</h3>
                                </div>
                                <div class="col-md-4"><a href="{% url 'contact:contact' %}" class="btn flat-btn color-btn">Контакты</a> </div>
                            </div>
                        </div>
                    </section>
                    <!-- section end-->
                </div>
                <!-- Content end -->
            {% endblock content %}