{% extends 'contact/contact.html' %}
{% block sentmail %}
<div class="accordion-inner visible" style="display: block;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.
        Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae
        lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis
        fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis
        massa, a consequat purus viverra.</p>
</div>
{% endblock sentmail %}